/*--------------RESET DEFAULT STYLES----------------*/

html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px Tahoma, sans-serif; background:#fff; color:#000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }

/*---------------------DEFAULT CLASSES--------------*/

.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }


/*---------------------BODY----------------------*/
/* Нашел как делать градиент стилем, но не нашел, как задать его высоту */
body {
    background: #cfd7d9; /* Для старых браузров */
    background: -moz-linear-gradient(top, #cfd7d9, #fff); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#cfd7d9), color-stop(100%,#fff));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #cfd7d9, #fff);
    background: -o-linear-gradient(top, #cfd7d9, #fff); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cfd7d9, #fff); /* IE10 */
    background: linear-gradient(top, #cfd7d9, #fff); /* CSS3 */ 
}

/*---------------------WRAPPER----------------------*/

#wrapper {
	width:780px;
	margin: 0 auto;
}


/*---------------------HEADER-----------------------*/
#header {
	padding:40px 0px;
	height:100px;
	border-bottom:thin;
	border-bottom-style:solid;
	border-bottom-color:#666;
}

.logo {
	float: left; /* Обтекание по правому краю */
}

.logo-txt {
	width:130px;
	padding:20px 0px;
	margin: 0px; /* Поля  вокруг элемента */
	float: left; /* Обтекание по правому краю */
	font:16px "Arial Black", Gadget, sans-serif;
	color:#999;
}
.top-menu {
	padding:20px 0px;
	float: right; /* Обтекание по правому краю */
	font:16px "Arial", Gadget, sans-serif;
	color:#999;
}

li {
    display: inline;
    list-style-type: none;
    margin-left: 50px;
}

/*---------------------NAV--------------------------*/



/*---------------------CONTENT----------------------*/

h1 {
	margin:20px 0px 10px; /* Не получилось написать один раз для h1 и h2 */
	border-bottom:groove; /* Не получилось сделать линию под h1 стилями */
	border-color:#00a7fb;
}

h2 {
	margin:20px 0px 10px; /* Не получилось написать один раз для h1 и h2 */
	color: #00a7fb;
}

hr {
	border-color:#00a7fb;
}

.mcolor {
	color: #00a7fb;
}

.banner {
	text-align:center;
	margin:10px 0px;
	padding:60px;
	background-color:#78797b;
	border-radius:15px;
}
/*---------------------SIDEBAR----------------------*/



/*---------------------FOOTER-----------------------*/
#footer {
	padding:10px 0px 30px;
	border-top:thin;
	border-top-style:solid;
	border-top-color:#b5b6b7;
	font-size:x-small;
	color:#78787b;
}

strong {
	color:#000;
}