/*--------------RESET DEFAULT STYLES----------------*/

html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px Tahoma, sans-serif; background:#fff; color:#000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }

/*---------------------DEFAULT CLASSES--------------*/

.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }


/*---------------------BODY----------------------*/
body {
    background-image: url(../images/background.png); /* Путь к фоновому рисунку */
    background-repeat: repeat-x; /* Повторяем фон по горизонтали */
}
/*---------------------WRAPPER----------------------*/

#wrapper {
	width:780px;
	margin: 0 auto;
}


/*---------------------HEADER-----------------------*/
#header {
	padding:38px 0px;
	height:83px;
	border-bottom:thin;
	border-bottom-style:solid;
	border-bottom-color:#939598;
}

#header .logo {
	float: left;
}

#header h1 {
	position: absolute;
	top: 65px;
}

#header .top-menu {
	margin:30px 0px;
	float: right;
	font:16px "Arial", Gadget, sans-serif;
	color:#999;
}

#header .top-menu .mcolor {
	color: #00a7fb;
}

#header .top-menu a {
	padding:15px 0px;
	font:16px "Arial", Gadget, sans-serif;
	color:#999;
	text-decoration:none;
}

#header .top-menu a:hover {
    background: #78797b; /* Цвет фона под ссылкой */ 
    color: #FFF; /* Цвет ссылки */ 
	text-decoration:underline;
	border-radius:15px;
} 

#header li {
    display: inline;
    list-style-type: none;
    padding: 25px;
}


/*---------------------MAIN-------------------------*/
#main {
	font-size:14px;
	color:#78787b;
	width:780px;
	margin: 20px 0px 20px;
	padding:0px 0px 100px;
	float:left;
	border-bottom-style:solid;
	border-bottom-color:#b5b6b7;
	border-width:thin;
}

#main h2 {
	font-size:24px;
	color:#010101;
	margin:30px 0px 10px; /* Не получилось написать один раз для h1 и h2 */
	height:50px;
	border-bottom-style:solid;
	border-width:thin;
	border-color:#00a7fb;
}

#main h3 {
	font-size:16px;
	color: #00a7fb;
	margin:20px 0px 10px; /* Не получилось написать один раз для h1 и h2 */
}


/*---------------------CONTENT----------------------*/
#content {
	width:530px;
	float:right;
}

.banner {
	text-align:center;
	margin:10px 0px;
	padding:60px;
	background-color:#78797b;
	border-radius:15px;
}
/*---------------------SIDEBAR----------------------*/
#sidebar {
	width:230px;
	float:left;
}

#sidebar h2 {
	font-size:18px;
	color: #00a7fb;
	margin:0px;
	padding:0px;
	border:none;
}



#sidebar li, li + li {
	list-style-image: url(../images/arrow.png);
	list-style-position:inside;
	padding:7px 0px;
}

#sidebar li + li {
	border-top-style:solid;
	border-width:thin;
	border-color:#CAC9C8;
}



/*---------------------FOOTER-----------------------*/
#footer {
	padding:30px 0px;
}

#footer p {
	font-size:x-small;
	color:#0F0F0F;
}

#footer strong {
	color:#000;
}