/* RESET DEFAULT STYLES */
html,body		{ width:100%; height:100%; }
body			{ padding:0; margin:0; font:12px Tahoma, sans-serif; background:#fff; color:#000;
			background: url(../images/bg_top.png) repeat-x; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea	{ font-size:12px; vertical-align:middle; }
textarea		{ vertical-align:top; }
:focus			{ outline:none; }
input[type=submit]	{ cursor:pointer; }
img, fieldset		{ border:0; }
table			{ border-collapse:collapse; border-spacing:0; }
a:link, a:visited	{ font:12px Tahoma, sans-serif; color:#000; text-decoration:underline; }
a:hover			{ text-decoration:none; }

/* DEFAULT CLASSES */
.float-r		{ float:right !important; }
.float-l		{ float:left !important; }
.no-float		{ float:none !important; }
.no-border		{ border:0 !important; }
.no-bg			{ background:none !important; }
.no-margin		{ margin:0 !important; }
.no-padding		{ padding:0 !important; }
.no-display		{ display:none !important; }
.display		{ display:block !important; }
.inline			{ display:inline !important; }
.overflow		{ overflow:hidden !important; }
.align-r		{ text-align:right !important; }
.align-l		{ text-align:left !important; }
.align-c		{ text-align:center !important; }
.clear			{ clear:both; }

/* WRAPPER */
#wrapper		{ width:904px;
			margin: 0 auto; }

/* HEADER */
#header			{ height: 108px; }
#header img		{ margin: 19px 0px; float: left; }
#header .icons	{ padding: 44px 62px; float: left; }
#header .icons a {
				display: block;
				width: 23px;
				background: url(../images/icons_v.png) 0 0 no-repeat;
				margin-left: 8px;
				line-height: 23px;
				width:23px;
				float: left; }
#header a.icon-1 { background-position: 0px 0px; }
#header a.icon-2 { background-position: 0px -23px; }
#header a.icon-3 { background-position: 0px -46px; }
#header a.icon-4 { background-position: 0px -69px; }
#header a.icon-5 { background-position: 0px -92px; }
#header li 		{ display: inline;
    			list-style-type: none;
				padding: 44px 10px;
				float: left; 
				text-transform: uppercase;
				float: left;
}

#header a		{ color: #396375;
				font-weight: bold;
				font-size: 16px;
				text-decoration:none;
}
#header a.active { background: url(../images/pointer.png) no-repeat scroll center bottom;
				color: #E21D5D !important;
				height:108px;
}
li.act			{ color: #E21D5D !important;}

/* NAV */
#nav			{  }

/* CONTENT */
#content		{ clear: left; }
#content h2		{ font-size: 48px; color: #4C7689;
				padding: 20px 0 20px;
				border-bottom-style:solid;
				border-width:thin;
				border-color:#A7C3CF; }

#content li		{ list-style-position:inside;
				padding:30px 0px 200px;
				display:block;
				color:#396375;
				/* clear:both; */
}

#content .left-fl	{ float:left; }
#content .right-fl	{ float:right; }
#content div	{ width:200px; text-align:right; padding:40px 20px; }
#content div.left-fl	{ text-align:right; }
#content div.right-fl	{ text-align:left; }
#content p.right-fl	{ text-align:right; }
#content p.left-fl	{ text-align:left; }
#content h3		{ color:#EA2778; font-size:24px; }
#content span	{ color:#F3753E; }
#content p		{ display:block; font-size:14px; padding:30px 20px; width:450px; }

/* SIDEBAR */

/* FOOTER */
#footer			{ clear: left;
				border-top-style:solid;
				border-width:thin;
				border-color:#A7C3CF; }
#footer li 		{ display: inline;
    			list-style-type: none;
				padding: 10px 10px 10px 0px;
				float: left;
				font-weight: bold;
				text-transform: uppercase;
				color:#396375; }
#footer	p		{ color: #ACC7D2;
				padding: 10px 0px;
				float: right; }